name: Release

on:
  issue_comment:
    types: [ created ]

jobs:
  build_and_release:
    name: Build and release
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    if: contains(github.event.comment.body, '/release-action')

    steps:
      - name: Update latest libnx
        run: |
          git config --global --add safe.directory "*"
          git clone --recurse-submodules https://github.com/switchbrew/libnx.git
          cd libnx
          make install -j$(nproc)
        shell: bash
      - name: Checkout latest code
        uses: actions/checkout@v5
        with:
          ref: master
          clean: true
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive
      - name: Setup ENV parameters
        run: |
          VER_FILE=Versions.inc
          MAJOR=$(awk '/^LPVERSION_MAJOR :=/ {gsub(/[^0-9]/,"",$3); print $3}' "$VER_FILE" | tr -d '\n\r')
          MINOR=$(awk '/^LPVERSION_MINOR :=/ {gsub(/[^0-9]/,"",$3); print $3}' "$VER_FILE" | tr -d '\n\r')
          BUGFX=$(awk '/^LPVERSION_BUGFX :=/ {gsub(/[^0-9]/,"",$3); print $3}' "$VER_FILE" | tr -d '\n\r')
          VERSION="${MAJOR}.${MINOR}.${BUGFX}"
          echo "TAG=v${VERSION}" >> "${GITHUB_ENV}"
          echo "RELEASE_NAME=Lockpick_RCM v${VERSION}" >> "${GITHUB_ENV}"
        shell: bash
      - name: Build
        run: |
          export DEVKITPRO=/opt/devkitpro
          make all
        shell: bash
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG }}
          draft: false
          prerelease: false
          generate_release_notes: yes
          make_latest: true
          files: |
            output/Lockpick_RCM.bin
